.checkst {
    margin-left: 6px;
    margin-top: 6px;
}

span.alertForm {
    background-color: #eadcc8 !important;
    color: #aa2949 !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    padding: 2px 5px;
    border-radius: 5px;
}
