.card {
    border-radius: unset!important;
}

.eventIconHead i {
    font-size: 16px;
}

.navigation-tab {
    display: none!important;
}

span.iconCate {
    font-size: 22px;
}

.col-10.cateNAME {
    font-size: 16px;
    font-weight: 500;
}
.emits {

}