<ion-header ion-no-border style="display:none;">
</ion-header>
<ion-content>

    <div>
        <div class="card-phone">
            <div class="card preview-event-add">
              
                <div class="pic-overflow">
                    <div class="pic" >

                    </div>
                </div>
                <div class="header-preview" >
                    <div class="col left-item">
                        <div (click)="home()" class="eventIconHead">
                            <i class="fas fa-chevron-left"></i>
                        </div>

                    </div>
                </div>

                <section class="content-event">
                    <h2 class="title-event">Nuevas caracteristicas</h2>
                    <div class="row time-date">
                        <div class="col-7">
                            <span class="location-event"><i class="fab fa-squarespace"></i> &nbsp; Trizkel Ztudio </span>
                        </div>
                    </div>
                 
                    <div class="row section-preview">
                        <div class="col-md-12">
                            New features
                            <ol>
                                <li>Mapas</li>
                            </ol>
                        </div>
                    </div>

                    <div class="row section-preview">
                    </div>

                    <hr>
                    <div class="separator-bottom"></div>

                </section>

            </div>
        </div>

    </div>

</ion-content>
