<ion-header ion-no-border style="display:none;">
</ion-header>
<ion-content>

    <div id="cessamo" class="back blue-back animate__animated animate__fade0420 animate__delay-1s">
        <div class="site-logo">
            <figure id="logo">
                <img id="logo-hexagon" src="../../../../assets/img/slides/A.png" alt="">
            </figure>
            <div class="site-title">
                <div id="logo-text" class="site-title-text">
                    <img src="../../../../assets/img/slides/text.png" alt="">
                </div>
            </div>
        </div>
        <footer class="fixed-bottom" id="ft">
            <span class="ft-animate" id="ft-animate">v. {{version[0]}} . {{version[1]}} . {{version[2]}}</span>
        </footer>

    </div>
</ion-content> 