<ion-tabs id="cessamoA">

    <ion-tab-bar slot="bottom" class="navigation-tab fixed-bottom">

        <ion-tab-button tab="home" class="navigation-tab-item stroke">
            <span class="navigation-tab__icon">
        <i class="fas fa-home selectedtwo"></i>
        <i class="fas fa-home normalfirst"></i>
        
      </span>
 
            <span class="navigation-tab__txt">INICIO</span>
        </ion-tab-button>

        <ion-tab-button tab="emitter" class="navigation-tab-item">
            <span class="navigation-tab__icon">
                <i class="fas fa-satellite-dish normalfirst"></i>
                <i class="fas fa-satellite-dish selectedtwo"></i>
                
            </span>

            <span class="navigation-tab__txt">EMITTER</span>
        </ion-tab-button>
 

        <ion-tab-button tab="media" class="navigation-tab-item">
            <span class="navigation-tab__icon">
                <i class="fas fa-film normalfirst" style="--fa-rotate-angle: -25deg; font-size: 19px;"></i>
                <i class="fas fa-film selectedtwo" style="--fa-rotate-angle: -25deg; font-size: 19px;"></i>
         
        
        </span>

            <span class="navigation-tab__txt">CÁMARA</span>
        </ion-tab-button> 
        

        <ion-tab-button tab="more" class="navigation-tab-item stroketwo">
            <span class="navigation-tab__icon">
                <i class="fas fa-ellipsis-v normalfirst"></i>
                <i class="fas fa-ellipsis-v selectedtwo"></i>
                
                
                
            </span>

            <span class="navigation-tab__txt">MÁS</span>
        </ion-tab-button>


    </ion-tab-bar>
</ion-tabs>