<!-- eslint-disable @angular-eslint/template/eqeqeq -->

<ion-header [translucent]="true" style="z-index: 0;">
</ion-header>
<ion-content>
    <div id="sendclass" class="sendclass animate__animated animate__fadeIn animate__delay-1s">

        <div class="header-background">
        </div>


        <div class="hello">
            <div class="name-header">
                <div class="backto" onclick="window.history.go(-1);" style="margin-top: 0; font-size: 1.2rem; color: white; margin-bottom: .5rem;">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <h2 class="sub2" style="color: white;">¿Qué haremos hoy?</h2>

            </div>

        </div>


        <section class="standard">
            
          
        </section>

    </div>

</ion-content>